<div class="sticky-top nav-sticky shadow-lg rounded my-1" style="z-index: 0; background-color: black;">
    <nav class="navbar navbar-expand-lg py-3 shadow-lg">
        <div class="container">
           
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
              <span class="navbar-toggler-icon"></span>
            </button>

        <div class="collapse navbar-collapse" id="navbarNav"> 
          <ul class="navbar-nav mx-auto">
                         
          <li class='nav-item mx-2 px-2'> <b>Home</b> </li>
          <li class="nav-item mx-2 px-2"> <b>Electronics</b> </li>
          <li class="nav-item mx-2 px-2"> <b>Motors</b> </li>                
          <li class="nav-item mx-2 px-2" > <b>Home & Garden</b></li>
          <li class="nav-item mx-2 px-2"> <b>Clothing</b></li>
          <li class="nav-item mx-2 px-2"> <b>Sports</b></li>
          <li class="nav-item mx-2 px-2"> <b>Health & Beauty</b> </li>
          <li class="nav-item mx-2 px-2"> <b>Toys</b></li>
          <li class="nav-item mx-2 px-2"> <b>Business & Industrial</b> </li>
          <li class="nav-item mx-2 px-2"> <b>Collectables</b> </li>
                           
          </ul>     
        </div>
        </div>
      </nav>
    </div>