
.navbar-nav li{
    color: brown;
    
}
 .navbar-nav li:hover{
    /* background-color: brown;
    color: white;
    padding: 0px 1px 0px 1px;
    border-radius: 20px; */
 }
 #navbarNav ul li a{
    color: brown;
 }
 #navbarNav ul li a:hover{
    border-radius: 20px;
    background-color: white;
    color: burlywood;
 }