
<div class='container shadow-lg '> <hr />
    <div class='row my-5 mt-5'> <hr />
        <div class='col-2 line1 '>  
            <ul >
                <li class='mb-2 fs-5 '><b>Buy</b>  </li>
                <li class=""> Deals </li>
                <li class=""> Mobile </li>                
                <li class=""> Charity </li>
                <li class=""> Stores </li>
                 <li class=" "> Gift Finder </li>
                <li class=""> Holidays & Seasonal Occasions </li>                
            </ul>
        </div>
        <div class='col-2 line2'> 
            <ul>
                <li class='mb-2 fs-5'><b> Sell </b> </li>
                <li class=""> Deals </li>
                <li class=""> Mobile </li>                
                <li class=""> Charity </li>
                <li class=""> Stores </li>
                 <li class=" "> Gift Finder </li>
                <li class=""> Holidays & Seasonal Occasions </li>                
            </ul>
        </div>

        <div class='col-3 line3'> 
            <ul>
                <li class='mb-2 fs-5'><b> Stay Connected </b> </li>
                <li class="">Deals </li>
                <li class=""> Mobile </li>                
                <li class=""> Charity</li>
                <li class=""> Stores </li>
                 <li class=" "> Gift Finder </li>
                <li class=""> Holidays & Seasonal Occasions </li>                
            </ul>
        </div>
        <div class='col-2 line4'> 
            <ul>
                <li class='mb-2 fs-5'><b> About Regis </b> </li>
                <li class="">Deals </li>
                <li class=""> Mobile </li>                
                <li class=""> Charity</li>
                <li class=""> Stores </li>
                 <li class=" "> Gift Finder </li>
                <li class=""> Holidays & Seasonal Occasions </li>                
            </ul>
        </div>
        <div class='col-3 line4'> 
            <ul>
                <li class='mb-2 fs-5'><b> Help </b> </li>
                <li class=""> Regis Returns </li>
                <li class="mb-2">Money Back Guarantee </li>                
     
                <li class=' fs-5'><b> Community </b> </li>
                 <li class=" "> Announcements</li>
                <li class=""> Discussion Forum </li>                
                <li class=""> Answer Center </li>
                <li class=""> Groups </li>
            </ul>
        </div>
    </div>
</div>
