<div class="row my-5 mx-auto ms-5 me-5"> 
    <div class="col-lg-2 col-11 mx-auto shadow">
        <div><img class="mx-auto my-2 d-flex w-75 mx-5" width="70" src={{img1}} alt=""></div>
        <p class="ms-1 text-center "><b>CPAP Machine</b></p>
        <p class="ms-1 text-center" style="color: brown;"><b>#10,000</b></p>
        <p> <button class="btn w-100 btn-outline-danger"> Add To Cart </button></p>
    </div>
    <div class="col-lg-2 col-11 mx-auto shadow">
        <div><img class="mx-auto my-2 d-flex w-75 mx-5" width="75" src={{img2}} alt=""></div>
        <p class="ms-1 text-center "><b>CPAP Mask</b></p>
        <p class="ms-1 text-center" style="color: brown;"><b>#9,000</b></p>
        <p> <button class="btn w-100 btn-outline-danger"> Add To Cart </button></p>
    </div>
    <div class="col-lg-2 col-11 mx-auto shadow">
        <div><img class="mx-auto my-2 d-flex w-75 mx-5" width="75" src={{img3}} alt=""></div>
        <p class="ms-1 text-center "><b>CPAP Supplies</b></p>
        <p class="ms-1 text-center" style="color: brown;"><b>#3,000</b></p>
        <p> <button class="btn w-100 btn-outline-danger"> Add To Cart </button></p>
    </div>
    <div class="col-lg-2 col-11 mx-auto shadow">
        <div><img class="mx-auto my-2 d-flex w-75 mx-5" width="75" src={{img4}} alt=""></div>
        <p class="ms-1 text-center "><b>Crap Link</b></p>
        <p class="ms-1 text-center " style="color: brown;" ><b>#5,000</b></p>
        <p> <button class="btn w-100 btn-outline-danger"> Add To Cart </button></p>
    </div>
    <div class="col-lg-2 col-11 mx-auto shadow">
        <div><img class="mx-auto my-2 d-flex w-75 mx-5" width="75" src={{img5}} alt=""></div>
        <p class="ms-1 text-center text-sencondary "><b>Power Bank</b></p>
        <p class="ms-1 text-center " style="color: brown;"><b>#15,000</b></p>
        <p> <button class="btn w-100 btn-outline-danger"> Add To Cart </button></p>
    </div>
    
    
    
    <!-- <div class="row my-5 mx-auto ms-0 me-0 "> 
        <p *ngIf="generalArray.length <= 0 ">
            No Products Yet
        </p>
         
        <div class="" *ngFor="let product of generalArray">
            <div class="col-lg-2 col-12 mx-auto shadow ">
                <p><img class="mx-auto my-2 d-flex w-75 mx-5" width="75" src={{product.img}} alt=""></p>
                <p class="ms-1 text-center text-sencondary "><b>{{product.text}}</b></p>
                <p class="ms-1 text-center " style="color: brown;"><b>{{product.Price}}</b></p>
                <p> <button class="btn w-100 btn-outline-danger"> Add To Cart </button></p>
            </div>
        </div>
    </div> -->

    <!-- <div class='row mx-5 '>
    <div class="" *ngFor="let product of generalArray">       
          
        <div  class="col-lg-2 col-md-3 col-12 rounded bg-white justify-center items-center pt-2 shadow mx-3 my-2 " >
            <div class='mx-auto my-2 d-flex w-100 mx-5'> <button class='bg-white'  ><img class="w-75 rounded me-4 "  src={{product.img}} alt="" /></button> </div> <br />
            <p class="ms-1 text-center "><b>{{product.text}}</b></p>
            <p class="ms-1 text-center "><b>{{product.Price}}</b></p>
        </div>
        
    </div>
</div> -->
</div>
